DNS of a nonreacting jet in crossflow where the jet issues into a ducted flow of vitiated combustion products at atmospheric pressure. The jet has a mole-basis composition of 70% H2, 18% N2 and 12% HE at 300 K, a bulk inlet velocity of 42.2 m/s with a uniform profile, and a diameter of 3.175 mm. The domain has a cross section of 24d_j in the spanwise direction by 40d_j in the streamwise direction from 30d_j upstream to 50d_j downstream of the jet. Adiabatic walls. The cross flow has a bulk velocity of 19.1 m/s with a uniform profile and a composition of 12.91% O2, 76.11% N2, 3.66% CO2, 7.32% H2O and 0.0019629% OH at 1236 K
